body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/retina_wood_@2X.png");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    min-height: 100%;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    height: 75px;
    border-bottom: #dddddd 1px solid;
    top: 0;
    opacity: .85;
    z-index: 500;
}

.active {
    color: #4aaaa5;
}

a {
    text-decoration: none;
    color: #777777;
    transition-delay: .1s;
    transition-duration: .75s;
}

ul a:hover {
    background: #4aaaa5;
    border: #777777 .5px solid;
    color: #ffffff;
    padding: 8px;
    font-size: 1.5em;
}

#home {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 0 8px;
    margin: 0;
    line-height: 76px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 28px 3px;
    display: flex;
    flex-direction: row;
    float: right;
}

#about {
    color: #777777;
    border-right: #777777 1px solid;
    padding: 0 5px;
}

#portfolio {
    color: #777777;
    border-right: #777777 1px solid;
    padding: 0 5px;
}

#contact {
    color: #777777;
    border-right: #777777;
    padding: 0 5px;
}

#header {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.container-fluid {
    width: 960px;
    min-height: 100%;
    margin: 100px auto;
    padding: 0 15px 10px;
    background: #ffffff;
    border: #dddddd 1px solid;
    /* padding-bottom: 50px; */
}

/* .content {
    padding-bottom: 50px
} */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    border-bottom: #dddddd 3px solid;
    padding: 0 0 8px 0;
}

.footer {
    line-height: 62px;
    background: #666666;
    width: 100vw;
    height: 7.5vh;
    border-top: #4aaaa5 8px solid;
    text-align: center;
    /* margin-top: -58px */
}

#me {
    float: left;
    padding: 0 10px 0 0;
}

.intro {
    padding: 0 10px;
    line-height: 1.4em;
}

.img {
    border: #777777 2px solid;
    width: 360px;
    height: 240px;
    position: relative;
    padding: 0;
}

.img col {
    height: 240px;
    width: 360px;
}

.name {
    position: absolute;
    background: #4aaaa5;
    width: 356px;
    text-align: center;
    font-size: 1.4em;
    color: #ffffff;
    margin: -70px 0 0 2px;
    line-height: 52px;
}

img {
    opacity: .45;
    transition-delay: .1s;
    transition-duration: 1s;
    width: 360px;
    height: 240px;
}

img:hover {
    opacity: 1;
}

textarea {
    resize: none;
}

@media screen and (max-width:980px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }
    @keyframes container {
        0% {left: -700px; position: absolute}
        50% {left: 0}
        95% {left: 150px}
        100% {float: left; position: static;}
    }

    @keyframes footer {
        0% {position: fixed; bottom: -100px;}
        95% {position: fixed; bottom: -100px;}
    }


    #container {
        position: static;
        float: left;
        width: 70vw;
        margin-left: 25px;
        animation: container 2s linear;
    }
    
    #me {
        width: 40vw;
        height: auto;
    }
    ul {
        float: none;
        justify-content: flex-end;
        width: 95vw;
    }
    #footer {
        clear: both;
        animation: footer 1s linear;
    }

    .row img {
        width: 30vw;
        height: auto;
    }

    .row p {
        width: 30vw;
        height: auto;
    }

}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100vw;
    }

    @keyframes container {
        0% {opacity: 0;}
        100% {opacity: 1.0;}
    }

    #container {
        margin-top: 25px;
        width: 90vw;
        height: auto;
        float: none;
        animation: container 1.25s linear;
    }

    #me {
        width: 50vw;
        height: auto;
    }

    ul {
        float: none;
        width: 95vw;
        justify-content: flex-end;
    }

    nav {
        position: static;
        width: 100vw;
        opacity: 1.0;
        margin-bottom: 20px;
    }

    #home {
        left: 5vw;
        text-align: center;
    }

    .row img {
        width: 35vw;
        height: auto;
    }

    .row p {
        width: 35vw;
        height: auto;
    }

    .row1 {
        width:auto;
        justify-content: space-around;
    }

    .row2 {
        width:auto;
        justify-content: space-around;
    }

    .row3 {
        width:auto;
        justify-content: space-around;
    }
}

@media screen and (max-width: 640px) {
        body {
            overflow-x: hidden;
            max-width: 100vw;
        }

        @keyframes container {
            0% {top: -2000px; position: absolute; z-index: -1}
            /* 5% {top: -1900px; position: absolute; z-index: -1}
            10% {top: -1800px; position: absolute; z-index: -1}
            15% {top: -1700px; position: absolute; z-index: -1}
            20% {top: -1600px; position: absolute; z-index: -1}
            25% {top: -1500px; position: absolute; z-index: -1}
            30% {top: -1400px; position: absolute; z-index: -1}
            35% {top: -1300px; position: absolute; z-index: -1}
            40% {top: -1200px; position: absolute; z-index: -1}
            45% {top: -1100px; position: absolute; z-index: -1}
            50% {top: -1000px; position: absolute; z-index: -1}
            55% {top: -900px; position: absolute; z-index: -1}
            60% {top: -800px; position: absolute; z-index: -1}
            65% {top: -700px; position: absolute; z-index: -1}
            70% {top: -600px; position: absolute; z-index: -1}
            75% {top: -500px; position: absolute; z-index: -1}
            80% {top: -400px; position: absolute; z-index: -1}
            85% {top: -300px; position: absolute; z-index: -1}
            90% {top: -200px; position: absolute; z-index: -1} */
            95% {top: -100px; position: absolute; z-index: -1}
            100% {float:none}
        }

        @keyframes footer {
            0% {position: fixed; bottom: 0;}
            5% {position: fixed; bottom: 0;}
            10% {position: fixed; bottom: 0;}
            15% {position: fixed; bottom: 0;}
            20% {position: fixed; bottom: 0;}
            25% {position: fixed; bottom: 0;}
            30% {position: fixed; bottom: 0;}
            35% {position: fixed; bottom: 0;}
            40% {position: fixed; bottom: 0;}
            45% {position: fixed; bottom: 0;}
            50% {position: fixed; bottom: 0;}
            55% {position: fixed; bottom: 0;}
            60% {position: fixed; bottom: 0;}
            65% {position: fixed; bottom: 0;}
            70% {position: fixed; bottom: 0;}
            75% {position: fixed; bottom: 0;}
            80% {position: fixed; bottom: 0;}
            85% {position: fixed; bottom: 0;}
            90% {position: fixed; bottom: 0;}
            95% {position: fixed; bottom: 0;}
        }

        #footer {
            animation: footer .75s linear;
        }

        #container {
            width: 90vw;
            float: none;
            margin-left: auto;
            animation-name: container;
            animation-duration: .75s;
            animation-timing-function: linear;
        }
        
        #me {
            width: 100%;
            height: auto;
        }
    
        ul {
            padding: 15px 0;
            position: absolute;
            background: #dddddd;
            width: 100vw;
            justify-content: center;
            top: 76px;
        }
    
        nav {
            position: static;
            width: 100vw;
            opacity: 1.0;
            margin-bottom: 75px;
        }
    
        #home {
            position: static;
            width: 100vw;
            text-align: center;
        }
    
        .intro {
            clear: both;
            position: static;
        }
    
        .row img {
            flex-direction: column;
            width: 82.95vw;
            height: auto;
            justify-content: center;
        }
    
        .row p {
            width: 82.95vw;
            height: auto;
        }
    
        .row1 {
            flex-direction: column;
            width:auto;
            justify-content: space-around;
            margin-bottom: auto;
        }

    
        .row2 {
            flex-direction: column;
            width:auto;
            justify-content: space-around;
            margin-bottom: auto;
        }
    
        .row3 {
            flex-direction: column;
            width:auto;
            justify-content: space-around;
            margin-bottom: auto;
        }
    }
    